* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
}

h1, h2, h3, h4 {
    margin: 0;
}

button {
    outline: none;
    color: #292929;
;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-page__bg {
    background: #211f20 radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
}

.header__navbar {
    margin-top: 18px;
    width: 443px;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    height: 24px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    transition: background .2s ease;
}

.nav__link-h:hover {
    color: #F1CDB3;
}

.noclick {
    pointer-events: none;
    cursor: default;
}

.nav__link__active {
    border-bottom: 2px solid #F1CDB3;
}

.logo-title {
    margin-bottom: 7px;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.logo-subtitle {
    display: inline-block;
    margin-left: 4px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.3px;
    color: #fff;
}

.hero {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 59px;
}

.hero__content {
    margin-top: 162px;
    margin-right: 42px;
}

.hero__img img {
    display: block;
}

.hero__title {
    width: 310px;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 58px;
    font-size: 44px;
    margin-bottom: 41px;
}

.hero__descr {
    width: 460px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 41px;
}

.btn {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.primary-btn {
    background: #F1CDB3;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    transition: background .2s ease;
}

.primary-btn:hover {
    background: #FDDCC4;
}

.secondary-btn {
    border: 2px solid #F1CDB3;
    transition: background .2s ease;
}

.secondary-btn:hover {
    background: #FDDCC4;
}

.hero__primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
}

.card__secondary-btn {
    width: 186px;
    background-color: #fff;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.long-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
    margin: 60px auto 0;
    width: 261px;
    height: 52px;
}

.about {
    padding-top: 80px;
    padding-bottom: 96px;
}

.about__wrapper {
    width: 850px;
    margin: 0 auto ;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.about__content {
    margin-top: 6px;;
}

.section__title {
    color: #545454;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about__title {
    width: 350px;
    margin-top: 9px;
    margin-bottom: 24px;
}

.section__descr {
    width: 430px;
    color: #4C4C4C;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
}

.about__content p:last-child {
    margin-top: 25px;
}

.friends-bg,
.donation-bg {
    background: #F6F6F6;;
}

.friends {
    padding-top: 78px;
    padding-bottom: 100px;
}

.first-line {
    display: block;
}

.slider {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    margin-top: 2px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    transition: background .2s ease;
}

.arrow:hover {
    border-color: transparent;
    background: #FDDCC4;
}

.slider__content {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.friends__title {
    margin-top: 3px;
    margin-bottom: 59px;
    text-align: center;
}

.slider__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 435px;
    background: #fff;
    transition: background .2s ease;
    cursor: pointer;
}

.card__img {
    transition: background .4s ease;
}

.slider__card:hover .card__img {
    background-color: #f0f0f0;
}

.card__img {
    margin-bottom: 26px;
}

.card__name {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 31px;
}

.card__btn {
    width: 187px;
    height: 52px;
    background: white;
    border-color: #F1CDB3;
}

.help {
    padding-top: 80px;
    padding-bottom: 40px;
}

.help-title {
    text-align: center;
}

.help-content {
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 119px;
    row-gap: 55px;
}

.help-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-card__descr {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 26px;
}

.donation {
    display: flex;
    justify-content: center;
    padding: 82px 0 101px;
}

.donation-img {
    margin-top: 10px;
}

.donation-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 31px;
}

.donation-title {
    width: 300px;
    margin-bottom: 20px;
}

.donation-descr {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;}

.credit-card {
    display: flex;
    margin: 20px 0 20px 0;
    padding: 10px 0 0 15px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
}

.credit-card:hover {
    background: #FDDCC4;
}

.credit-card__number {
    margin-left: 15px;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-text {
    display: flex;
    align-items: center;
    width: 380px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer-bg {
    background: #211f20 radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) no-repeat;
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.column .footer-img {
    width: 302px;
}

.footer-img img {
    display: block;
}

.column {
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.column-title {
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.contact-link {
    display: flex;
    align-items: center;
}

.contact-link__icon {
    transition: .5s ease;
}

.contact-link:hover .contact-link__text {
    color: #c47351;
}

.contact-link:hover .contact-link__icon {
    transform: scale(1.4);
    fill: #c47351;
}

.contact-link__text {
    display: inline-block;
    max-width: 260px;
    font-family: Georgia, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px
}